In [2]:
import sqlite3 as sq

In [3]:
## Connect to SQL lit database 
connection=sq.connect('Example.db')
connection

In [4]:
cursor=connection.cursor()

In [5]:
## creating the Table 
cursor.execute('''
Create table If Not Exists Employee(
               id Integer Primary Key,
               name Text Not Null,
               age integer 
               )
''')

In [8]:
cursor.execute(
    '''select * from Employee
    '''
)

In [10]:
## Insert the values inside the Employee Table 
cursor.execute(
    '''
insert into employee(name,age)
values('Ashwani',29) 
'''
)
cursor.execute(
    '''
insert into employee(name,age)
values('Vishal',18) 
'''
)
cursor.execute(
    '''
insert into employee(name,age)
values('sahil',22) 
'''
)
connection.commit()

In [11]:
cursor.execute('select * from employee')
rows=cursor.fetchall()
## print the Quries
for row in rows:
    print(row)

(1, 'Ashwani', 29)
(2, 'Ashwani', 29)
(3, 'Ashwani', 29)
(4, 'Vishal', 18)
(5, 'sahil', 22)

In [12]:
## update the data into the table 
cursor.execute('''
update employee
               set age=30
               where name='Ashwani'
               
''')
connection.commit()

In [13]:
cursor.execute('select * from employee')
rows=cursor.fetchall()
## print the Quries
for row in rows:
    print(row)

(1, 'Ashwani', 30)
(2, 'Ashwani', 30)
(3, 'Ashwani', 30)
(4, 'Vishal', 18)
(5, 'sahil', 22)