In [7]:
import json
import pandas as pd 
# Sample JSON data as a Python dictionary
data = {
    "employees": [
        {"id": 1, "name": "Alice", "age": 25, "department": "HR"},
        {"id": 2, "name": "Bob", "age": 30, "department": "Finance"},
        {"id": 3, "name": "Charlie", "age": 28, "department": "IT"},
    ],
    "company": "TechCorp",
    "location": "New York"
}

# Convert to JSON string
json_data = json.dumps(data, indent=4)

# Save to a JSON file
with open('sample_data.json', 'w') as file:
    file.write(json_data)

print("JSON data saved!")

JSON data saved!

In [8]:
# Load JSON data from the file
with open('sample_data.json', 'r') as file:
    loaded_data = json.load(file)

# Print loaded JSON data
print(loaded_data)

{'employees': [{'id': 1, 'name': 'Alice', 'age': 25, 'department': 'HR'}, {'id': 2, 'name': 'Bob', 'age': 30, 'department': 'Finance'}, {'id': 3, 'name': 'Charlie', 'age': 28, 'department': 'IT'}], 'company': 'TechCorp', 'location': 'New York'}

In [9]:
pd.read_json('sample_data.json',)

                                           employees   company  location
0  {'id': 1, 'name': 'Alice', 'age': 25, 'departm...  TechCorp  New York
1  {'id': 2, 'name': 'Bob', 'age': 30, 'departmen...  TechCorp  New York
2  {'id': 3, 'name': 'Charlie', 'age': 28, 'depar...  TechCorp  New York

In [10]:
df = pd.DataFrame(loaded_data['employees'])
df.head()

   id     name  age department
0   1    Alice   25         HR
1   2      Bob   30    Finance
2   3  Charlie   28         IT